*{
    padding: 0px;
    margin: 0px;

}
body{
    background-color: rgb(234, 232, 232);
}

/* NAVBAR START */


/* left side bar */


.navbar{
    width: 100%;
    height: 40px;
    background-color: rgb(238, 234, 234);
    display: flex;
    flex-direction: row;
    padding: 10px;
}
img{
    width: 35px;
    height: 35px;
    margin-top: 5px;
}
.left{
    display: flex;
    flex-direction: row;
    /* padding: 10px; */
    margin: 5px;
    margin-left: 200px;
}
.left form{
    margin: 5px;
    font-size: 25px;
    margin-left: 15px;
}
#bar{
    width: 250px;
    height: 30px;
    border-radius: 7px;
    border: none;
    
}
.fa-magnifying-glass{
    cursor: pointer;
    color: rgb(161, 163, 163);
}

/* middle bar */

.middle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 150px;
    margin-right: 20px;
}
#icons{
    display: flex;
    flex-direction: column;
    font-size: 15px;
margin: 5px;
}
#iconshover:hover{
    color: black;
    background-color: grey;
    border-radius: 10px;
}


span{
    width: 90px;
    text-align: center;
    cursor: pointer;
}

.fa-house-chimney{
    color: rgb(81, 82, 82);
}

.fa-users{
    color: rgb(81, 82, 82);
}
.fa-bag-shopping{
    color: rgb(81, 82, 82);
}
.fa-message{
    color: rgb(81, 82, 82);
}
.fa-bell{
    color: rgb(81, 82, 82);
}


/* right side BAR */

.right{
    margin-left: 30px;
    width: 300px;
   
}
.fa-user{
    color: rgb(81, 82, 82);
    font-size: 22px;
    margin:10px;
    
}
.dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: rgb(25, 24, 24);
    /* padding: 14px 16px; */
    /* background-color: inherit; */
    /* font-family: inherit; */
    /* margin: 0; */
    margin-right: 10px;
   
  }
  

  /* NAVBAR END */


  /* LEFT SIDE PANNEL START  */

  /* USER INFORMATION */

.leftside{
    background-color:white;
    width: 250px;
    height: 350px;
    border-radius: 10px;
    margin-left: 190px;
    margin-top: 20px;
    /* border: 2px solid black; */
  }

  .dp{
    background-image: linear-gradient(to right,rgb(229, 19, 120),rgb(212, 165, 45), rgb(37, 150, 37));
    width: 250px;
    height: 70px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .profile{
    width: 70px;
    height: 70px;
    border-radius: 100px;
    margin-left: 75px;
    margin-top: -40px;
  }
.dp2 h1{
    font-size: 20px;
    margin-left: 60px;
}
.dp2 p {
    font-size: 14px;
    margin-left: 10px;
    margin-top: 10px;
}
.dp2{
    padding: 10px;
}

.connect{
    padding: 5px;
    
}
.connect h2{
font-size: 15px;
margin-left: 10px;
}
.connect p {
    font-size: 14px;
    margin: 10PX;
}
.connect span {
    margin-top: -30px;
    float: right;
    font-size: 18px;
    color: rgb(63, 63, 182);
    
}
.profile2{
    font-size: 15px;
    margin: 0 auto;
    padding: 5px;
}
.fa-bookmark
{
    margin: 8px;
}

/* USER INFORMATION END */


/* RECENT ACTIVITY START */

.recent
{
    background-color:white;
    width: 240px;
    height: 330px;
    border-radius: 10px;
    margin-left: 190px;
    margin-top: 10px;
    padding: 5px;

}
.recent h4{
    padding: 10px;
    color:  rgb(63, 63, 182);
}
.recent h5{
    padding: 10px;
    font-size: 16px;
}

.recent ul li {
    list-style-type: none;
    list-style-position: inside;
    /* letter-spacing: 2px; */
}
.fa-hashtag  {
    font-size: 12px;
    padding: 3px;
    font-weight: lighter;
}
.fa-user-group{
    font-size: 12px;
    padding: 3px;
    color: rgb(52, 53, 53);
    /* font-weight: lighter; */

}
.btn button{
    /* box-sizing: content-box; */
    width: 240px;
    border: white;
    border-radius: 10px;
    font-size: 17px;
    /* padding: 10px; */
    cursor: pointer;
    color: blue;
}

/* RECENT ACTIVITY END */

/* LEFT SIDE PANNEL END */




/* MIDDLE PANNEL START */


/* UPLOAD SECTION START */

.middlebar {
    width: 600px;
    background-color: white;
    height: 130px;
    margin-left: 470px;
    margin-top: -705px;
    border-radius: 5px;
    
}
.dp3 {
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
}
.dp3 img {
    width: 50px;
    height: 50px;
    border-radius: 60px;
}
.dp3 input[type=text] {
    width: 470px;
    height: 27px;
    border-radius: 40px;
    margin-left: 10px;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid black;
}
.items {
    display: flex;
    /* padding:5px; */
    /* margin: 10px; */
    justify-content:space-evenly;
}
.items span i {
    padding: 5px;
    font-size: 18px;
    
}
#itemshover:hover{
    background-color: grey;
    border-radius: 10px;
}

.fa-image{
    color: rgb(17, 17, 220);
}
.fa-circle-play{
    color: rgb(13, 191, 108);
}
.fa-calendar-days{
    color: yellow;
}
.fa-newspaper{
    color: rgb(182, 29, 29);
}

/* UPLOAD SECTION END */


/* POST SECTION START */


/* SECTION ONE */

.postsection {
    width: 600px;
    background-color: white;
    height: 500px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 470px;
}
.first {
    /* display: block; */
    margin-left: 10px;
    /* margin-top: 20px; */
    /* padding: 10px; */

}
.first img{
    width: 50px;
    height: 50px;
    /* float: left; */
    /* margin-top: 10px; */


}
.first span{
    float: right;
    font-size: 25px;
    margin-top: -95px;

}
.first h4{
    margin-top: -52px;
    margin-left: 60px;
}
.first pre{
    margin-left: 60px;
}
.second video{
    width: 600px;
    height: 330px;
    margin-top: -30px;
}
.second span i{
    padding: 10px;
    color: blue;
    /* font-size: 15px; */
}
.third{
    font-size: 17px;
    padding: 10px;
} 
.third i{
    margin-left: 20px;
}


/* SECTION TWO */


.postsection2 {
    width: 600px;
    background-color: white;
    height: 490px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 470px;
}
.first2 {
    /* display: block; */
    margin-left: 10px;
    /* margin-top: 20px; */
    /* padding: 10px; */

}
.first2 img{
    width: 50px;
    height: 50px;
    /* float: left; */
    /* margin-top: 10px; */


}
.first2 span{
    float: right;
    font-size: 25px;
    margin-top: -55px;

}
.first2 h4{
    margin-top: -52px;
    margin-left: 60px;
}
.first2 pre{
    margin-left: 60px;
}
.second2 img{
    width: 600px;
    height: 330px;
    margin-top: 0px;
}
.second2 span i{
    padding: 10px;
    color: blue;
    /* font-size: 15px; */
}
.third2{
    font-size: 17px;
    padding: 10px;
} 
.third2 i{
    margin-left: 20px;
}


/* SECTION TWO END */


/* RIGHT SIDE PANNEL START */



/* NEWS PANNEL START */

.rightside {
    width: 250px;
    height: 270px;
    background-color: white;
    float: right;
    margin-top: -2180px;
    margin-right: 160px;
    border-radius: 5px;
    padding: 10px;
}
.rightside span{
    float: right;
    margin-top: -15px;
    margin-right: -25px;
}
.rightside li{
    list-style-position: inside;
    font-size: 13px;
    font-weight: bold;
    padding: 7px;
    margin-top: 10px;

}
#timing{
    font-size: 10px;
    color: grey;
    margin-right: 130px;
    /* margin-top:1px; */
    padding:8px ;
}


/* NEWS PANNEL END */


/* FOLLOW PANNEL START */


.rightpannel{
    width: 250px;
    height: 290px;
    background-color: white;
    float: right;
    margin-top: -1870px;
    margin-right: 160px;
    border-radius: 5px;
    padding: 10px;
}
.rightpannel span{
    float: right;
    margin-top: -15px;
    margin-right: -25px;
}
.follower{
    width: 250px;
    height: 70px;
    background-color: white;
    margin-top: 20px;
}
.follower img{
    width: 30px;
    height: 30px;
    margin: 5px;
    /* border-radius: 30px; */
}
.follower h4{
    margin-top: -40px;
    margin-left: 45px;
}
.follower p{
    margin-left: 45px;
    font-size: 13px;
    color: grey;
}
.follower button{
    margin-left: 45px;
    width: 130px;
    height: 28px;
    border-radius: 30px;
    font-weight: 900;
    color: rgb(49, 49, 197);
    border: 1px solid black;
    cursor: pointer;
}
#followhover:hover{
    background-color: rgb(49, 49, 197);
    color: white;
}



/* FOLLOW PANNEL END */


/* RIGHT SIDE PANNEL END */
